.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      width: 60%;
      font-size: 1.2rem;
      font-weight: 600;
      line-height: 2rem;

      span {
        color: $blue;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .about-container {
    padding-top: 2rem;
  }
}