@font-face {
  font-family: "Asap";
  src: url("../../../public/Asap-Regular.ttf") format("truetype");
}

html {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Asap", sans-serif;
  cursor: default;
  row-gap: 8rem;
}

body.dark {
  background-color: $lightMode;

  h1 {
    color: $darkMode;
  }

  p {
    color: $darkMode;
  }
}

body.light {
  background-color: $darkMode;

  h1 {
    color: $lightMode;
  }

  p {
    color: $lightMode;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.6s ease;
}

a {
  text-decoration: none;
}

a:visited {
  background-color: transparent;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: 1.5px solid #000;
}